# Binary build
*.exe
*.out
*.a
*.o

# Temporary Folder
tmp/

# Temporary files from the editor
*.swp
*.swo
.vscode

# Folder build/output
bin/
dist/

# File Go Modules
go.sum
go.work
vendor/

# File Makefile build
*.dSYM

# File environment
.env

# File log
*.log
